astroid==2.2.5
attrs==19.2.0
Automat==0.7.0
beautifulsoup4==4.7.1
boto==2.49.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
Deprecated==1.2.6
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
dropbox==9.4.0
emoji==0.5.2
et-xmlfile==1.0.1
gnupg==2.3.1
google-api-python-client==1.7.11
google-auth==1.7.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
gunicorn==19.9.0
html5lib==1.0.1
httplib2==0.18.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.16
jdcal==1.4.1
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
numpy==1.16.3
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.0
pandas==0.24.2
pathlib==1.0.1
pcloud==1.0a6
pdf2image==1.9.0
pdfkit==0.6.1
pep8==1.7.1
Pillow==7.1.2
progressbar==2.5
psutil==5.7.2
psycopg2==2.8.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
PyDrive==1.3.1
PyGithub==1.44.1
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
PyPDF2==1.26.0
PySocks==1.7.0
pyTelegramBotAPI==3.7.3
pytesseract==0.3.0
python-telegram-bot-pagination==0.0.1
python-dateutil==2.8.0
python-zillow==0.2.0
pytz==2019.1
PyYAML==5.1.2
pyzillow==0.5.5
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
tenacity==5.1.5
tqdm==4.38.0
Twisted==20.3.0
typed-ast==1.4.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.3
webencodings==0.5.1
whitenoise==4.1.4
wrapt==1.11.1
xlrd==1.2.0
xmltodict==0.12.0
zope.interface==4.6.0
vk_api==11.9.7
